*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/CompanyAnalysis/.gradle-user/caches
/CompanyAnalysis/.gradle-user
CompanyAnalysis/.kotlin/errors/errors-1775883607603.log
CompanyAnalysis/.kotlin/errors/errors-1775883607847.log
CompanyAnalysis/.kotlin/errors/errors-1775883682473.log
/BD_Students/.gradle-user
/BD_Students/app/out-build
